In [2]:
import pandas as pd

In [24]:
df = pd.read_csv('characters.csv')

In [11]:
df.head()

,Character,Class,Speed,Speed (Water),Speed (Air),Speed (Ground),Acceleration,Weight,Handling,Handling (Water),Handling (Air),Handling(Ground),Traction,Mini Turbo
0,Baby Mario,Light,2.25,2.25,2.25,2.25,3.25,2.25,4.75,4.75,4.75,4.75,4.5,3.0
1,Baby Luigi,Light,2.25,2.25,2.25,2.25,3.25,2.25,4.75,4.75,4.75,4.75,4.5,3.0
2,Baby Peach,Light,2.25,2.25,2.25,2.25,3.25,2.25,4.75,4.75,4.75,4.75,4.5,3.0
3,Baby Daisy,Light,2.25,2.25,2.25,2.25,3.25,2.25,4.75,4.75,4.75,4.75,4.5,3.0
4,Baby Rosalina,Light,2.25,2.25,2.25,2.25,3.25,2.25,4.75,4.75,4.75,4.75,4.5,3.0

In [25]:
df = df.drop('Handling (Water)',axis=1)
df = df.drop('Handling (Air)',axis=1)
df= df.drop('Speed (Air)',axis=1)
df= df.drop('Speed (Water)',axis=1)
df = df.drop('Handling(Ground)',axis=1)

In [26]:
df.head()

,Character,Class,Speed,Speed (Ground),Acceleration,Weight,Handling,Traction,Mini Turbo
0,Baby Mario,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0
1,Baby Luigi,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0
2,Baby Peach,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0
3,Baby Daisy,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0
4,Baby Rosalina,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0

In [27]:
df = df.rename(columns={'Character': 'Personagens', 'Class': 'Tipo_carro','Speed':'Velocidade','Acceleration':'Aceleracao','Handling':'Agilidade','Traction':'Tracao'})

In [28]:
df.head()

,Personagens,Tipo_carro,Velocidade,Speed (Ground),Aceleracao,Weight,Agilidade,Tracao,Mini Turbo
0,Baby Mario,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0
1,Baby Luigi,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0
2,Baby Peach,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0
3,Baby Daisy,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0
4,Baby Rosalina,Light,2.25,2.25,3.25,2.25,4.75,4.5,3.0

In [29]:
df = df.drop('Weight',axis=1)
df = df.drop('Speed (Ground)',axis=1)

In [30]:
df.head()

,Personagens,Tipo_carro,Velocidade,Aceleracao,Agilidade,Tracao,Mini Turbo
0,Baby Mario,Light,2.25,3.25,4.75,4.5,3.0
1,Baby Luigi,Light,2.25,3.25,4.75,4.5,3.0
2,Baby Peach,Light,2.25,3.25,4.75,4.5,3.0
3,Baby Daisy,Light,2.25,3.25,4.75,4.5,3.0
4,Baby Rosalina,Light,2.25,3.25,4.75,4.5,3.0

In [34]:
df['Tipo_carro'] = df['Tipo_carro'].apply(lambda x: x.replace('Light', '') and x.replace('Heavy', '')and x.replace('Medium',''))

In [35]:
df.head()

,Personagens,Tipo_carro,Velocidade,Aceleracao,Agilidade,Tracao,Mini Turbo
0,Baby Mario,,2.25,3.25,4.75,4.5,3.0
1,Baby Luigi,,2.25,3.25,4.75,4.5,3.0
2,Baby Peach,,2.25,3.25,4.75,4.5,3.0
3,Baby Daisy,,2.25,3.25,4.75,4.5,3.0
4,Baby Rosalina,,2.25,3.25,4.75,4.5,3.0